-- Add geographic data for Youngstown Marketing Company funnel
UPDATE website_visitors 
SET country_code = 'US', region = 'Ohio', city = 'Youngstown' 
WHERE site_id = 'funnel-vRwWeI3XuXffOFsLo7YT'
AND session_id IN (
  SELECT session_id FROM website_visitors 
  WHERE site_id = 'funnel-vRwWeI3XuXffOFsLo7YT' 
  LIMIT 3
);
